* { margin: 0; padding: 0; }
a { color: black; text-decoration: none;}
li { list-style: none;}

/*--- Test ---*/
#rad01, #rad02, #rad03, #rad04, #rad05 {display: none;}
#rad01:checked ~ .img_sheet .sheet01 { display: block;}
#rad01:checked ~ .img_sheet .sheet02 { display: none;}
#rad01:checked ~ .img_sheet .sheet03 { display: none;}
#rad01:checked ~ .img_sheet .sheet04 { display: none;}
#rad01:checked ~ .img_sheet .sheet05 { display: none;}

#rad02:checked ~ .img_sheet .sheet01 { display: none;}
#rad02:checked ~ .img_sheet .sheet02 { display: block;}
#rad02:checked ~ .img_sheet .sheet03 { display: none;}
#rad02:checked ~ .img_sheet .sheet04 { display: none;}
#rad02:checked ~ .img_sheet .sheet05 { display: none;}

#rad03:checked ~ .img_sheet .sheet01 { display: none;}
#rad03:checked ~ .img_sheet .sheet02 { display: none;}
#rad03:checked ~ .img_sheet .sheet03 { display: block;}
#rad03:checked ~ .img_sheet .sheet04 { display: none;}
#rad03:checked ~ .img_sheet .sheet05 { display: none;}

#rad04:checked ~ .img_sheet .sheet01 { display: none;}
#rad04:checked ~ .img_sheet .sheet02 { display: none;}
#rad04:checked ~ .img_sheet .sheet03 { display: none;}
#rad04:checked ~ .img_sheet .sheet04 { display: block;}
#rad04:checked ~ .img_sheet .sheet05 { display: none;}

#rad05:checked ~ .img_sheet .sheet01 { display: none;}
#rad05:checked ~ .img_sheet .sheet02 { display: none;}
#rad05:checked ~ .img_sheet .sheet03 { display: none;}
#rad05:checked ~ .img_sheet .sheet04 { display: none;}
#rad05:checked ~ .img_sheet .sheet05 { display: block;}


.img_sheet_box {
  width: 1000px; height: 500px;
  background-color: #ccc;
}

.img_sheet_box .img_label {
  width: 200px; height: 100px;
  background-color: #ccc;
  float: left;
}

.img_sheet_box .img_label label {
  display: block;
  width: 200px; height: 100px;
  background-color: aquamarine;
  text-align: center;
  line-height: 100px;
  font-size: 30px;
  color: #fff;
  opacity: 0.5; /* 투명도 */
}

#rad01:checked ~ .img_label .lab01,
#rad02:checked ~ .img_label .lab02,
#rad03:checked ~ .img_label .lab03,
#rad04:checked ~ .img_label .lab04,
#rad05:checked ~ .img_label .lab05 {
  color: blueviolet;
  opacity: 1;
}

.img_sheet_box .img_label .lab01 {background-image: url(./images/thumail_icon01.jpg);}
.img_sheet_box .img_label .lab02 {background-image: url(./images/thumail_icon02.jpg);}
.img_sheet_box .img_label .lab03 {background-image: url(./images/thumail_icon03.jpg);}
.img_sheet_box .img_label .lab04 {background-image: url(./images/thumail_icon04.jpg);}
.img_sheet_box .img_label .lab05 {background-image: url(./images/thumail_icon05.jpg);}


.img_sheet_box .img_sheet {
  width: 800px; height: 500px;
  float: left;
}