//모든 component에서 공통적으로 사용할 style

*{margin: 0; padding: 0;}
li{list-style: none;}

$color: #8869ed;

@mixin size($width, $height){
  width: $width;
  height: $height;
}

@mixin style {
  text-align: center;
  line-height: 30px;
  border: 1px solid #999;
  border-radius: 5px;
}